extends layout

block content
  <canvas id="mainCanvas"></canvas>
  <br />Object Count: 
  <span id="objectCount">0</span>
  <br />FPS: 
  <span id="fps">0</span></body>
  
  <script src="js/worldsimulator2d.js"></script>
  <script src="js/site.js"></script>
  <script>startYourEngines();</script>