@{
    ViewData["Title"] = "Play";
}

<canvas id="mainCanvas"></canvas>
<br/>
Object Count: <span id="objectCount">0</span>
<br/>
FPS: <span id="fps">0</span>


@section Scripts {
    <script>
        startYourEngines();
    </script>
}